* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    margin: 0;
    background: #d4f3ff;
}

#main{
    margin:1% 2%;
    overflow: hidden;
}

#header{
    background: linear-gradient(#227fab, #4198bd, #d4f3ff);  
    min-height: 125px;
}

footer{
    background: linear-gradient(#d4f3ff, #4198bd, #227fab);    
    min-height: 125px;

}

.col-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.one-col {
    width:97%;
    display: inline-block;
    padding:10px 10px 0 10px;
    text-align: center;
}

ul{
    list-style: none;
    text-align: center;
    margin-left: -100%;
    padding: 15px 0 25px 0;
}

.player-0-panel,
.player-1-panel {
    width: 37%;
    display: inline-block;
    height: 425px;
    margin:.5% 1%;
    padding:5px 10px;
    text-align: center;    
}

.action-col{
    width: 20%;
    display: inline-block;
    text-align: center;
    align-content: center;
    margin:.5% 0;
    padding:30px 5px;
}
.new-game, .game-rules{
    width: 50%;
    display: inline-block;
    margin: 0 1%;
    padding:0 10px 0px 10px;
    text-align: right;    
}

/**********************************************
PLAYERS
**********************************************/
.player-name {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    color: #0F3B63;
}

.player-score {
    font-size: 75px;
    font-weight: 100;
    color: #0F3B63;
    margin-bottom: 130px;
}

.active { background: #87cefa;}

.active .player-name{
    font-weight: bold;
}


.player-current-box {
    background-color: #0F3B63;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    color: #FFF;
}

.player-current-score {
    font-size: 30px;
}

/**********************************************
GAME CONTROLS
**********************************************/
button, summary {
    width: 155px;
    color: #0F3B63;
    background: none;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:focus, summary:focus {
    outline: none;
}

i {
    color: #0F3B63;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}


.btn-roll { padding: 10px 0 0 0;}
.btn-hold { padding: 20px 0 0 0;}
.btn-new { padding: 10px 0 0 0;}
summary{padding: 10px 0 0 0;}

.dice {
    height: 125px;
    padding-top: 20px;
    margin: 0 auto;
}
.dice2 {
    height: 125px;
    padding-top: 20px;
    margin: 0 auto;
}

.winner { background: #EDEDED url('../images/winner.jpg') no-repeat; background-size: 100% 100%;}
.winner .player-name, .winner .player-score { font-weight: bold; font-size: 50px; color:#FFF;}
.winner .player-current-box{display:none;}

.winningScoreLabel{
    font-weight: bold;
    font-size: 25px;
    color:#fff;
}

.winningScore{
    height: 40px;
    width: 100px;
    background: #0F3B63;
    color: #fff;    
    font-size: 25px;
    text-align: center;
    margin: 15px 15px 5px 15px;
}

.winningScore:focus {outline:none;}
.winningScore::-webkit-input-placeholder{
    color: rgba(255, 255, 255,.3);
}